[submodule "_vim/bundle/fugitive"]
	path = _vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "_vim/bundle/nerdtree"]
	path = _vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "_vim/bundle/mustache"]
	path = _vim/bundle/mustache
	url = git://github.com/mustache/vim-mode.git
[submodule "_vim/bundle/solarized"]
	path = _vim/bundle/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "_vim/bundle/rust.vim"]
	path = _vim/bundle/rust.vim
	url = git://github.com/wting/rust.vim.git
